{% extends 'all-photos/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row my-5">
        
            {% for image in images %}
            <div class="col-md-4 d-flex">
                <div class="card mb-3 flex-fill">
                    <a href="{% url 'image' image.id %}">
                        <img src="{{image.image.url}}" alt="image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">{{image.title}}</h3>
                        <div class="d-flex justify-content-between">
                            
                            <p class="card-subtitle">{{image.pub_date | date}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        
    </div>
</div>
{% endblock %}